<form name="uploadForm" class="uploadForm" ng-submit="validateForm()" novalidate>
        <div class="form-group upload-element" style="padding-right: 1076px">
            <label for="notationName">Notation name</label>
            <input id="notationName" type="text" class="form-control small"  ng-model="notation.name" required  placeholder="Enter notation name"/>
        </div>
        <div class="form-group upload-element">
            <input id="uploadFile" placeholder=" Choose a File to upload"  disabled ng-model="selectedFile" />
            <div class="fileUpload btn btn-primary btn-sm">
                <span>Upload</span>
                <input id="uploadBtn" type="file" class="upload" custom-on-change="uploadFile" />
            </div>
        </div>
        <div class="form-group upload-element">
            <label ><input type="checkbox" ng-model="notation.encryptionRequested"> Enable encryption</label>
        </div>
        <div class="form-group upload-element">
            <button type="submit" class="btn btn-md btn-success">Submit</button>
        </div>
</form>