<form name="formPassRecovery" class="registerModal"  ng-submit="submit(formPassRecovery)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body ">
    </div>
    <div class="modal-footer">
        <button class="btn pull-left"   type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>