.my-Body {
    background: -webkit-gradient(linear, left top, left bottom, from(#141E30), to(#243B55)) fixed;
}
.my-Body-Logged {
    background: white;
    color: darkblue;
}


.login {
    width: 300px;
    height: 180px;
    margin-left: 541px;
    margin-top: 180px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #141E30;
}

.header {
    margin-top:30px;
    font-family:"Times New Roman", Times, serif;
    color: white;
    font-size: 50px;
}

.registerModal {
    padding-right: 15px;
    padding-left: 15px;
}

.uploadForm {
    padding-left: 15px;
    padding-right: 15px;
}

.form-horizontal .control-label{
    text-align:left;
}

.alert-danger {
    padding:5px;
    margin-left:199px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-element {
    margin: 5px;
}