<form name="formLogin" class="registerModal"  ng-submit="submit(formLogin)" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Register new account</h3>
    </div>
    <div class="modal-body ">
        <div class="row form-horizontal">
            <div class="form-group" >
                <label class="col-sm-4 control-label">Username:<span style="color:red">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="username" ng-model="account.username" ng-minlength="5" ng-maxlength="20" required/>
                <div ng-messages="formLogin.username.$error" ng-show="formLogin.username.$touched || errors.showErrors" style="color:maroon" role="alert">
                    <div ng-message="required"  >Please enter a username</div>
                    <div ng-message="minlength" >Given username is to short</div>
                    <div ng-message="maxlength" >Given username is to long</div>
                    <div ng-show="!errors.isUsernameUnique" style="color:maroon">Username already exists</div>
                </div>
                </div>
            </div>
            <!--Password and confirmation -->
            <div class="form-group" >
                <label class="col-sm-4 control-label">Password:<span style="color:red">*</span></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password" ng-model="account.password"  ng-minlength="6" ng-maxlength="15" required/>
                    <div ng-messages="formLogin.password.$error" ng-show="errors.showErrors" role="alert">
                        <div ng-message="required"  style="color:maroon">Please enter a password</div>
                        <div ng-message="minlength" style="color:maroon">Password needs to contain at least 6 letters</div>
                        <div ng-message="maxlength" style="color:maroon">Password can have only up to 15 letters</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Confirm Password:</label>
                <div class="col-sm-8">
                    <input class="form-control" type="password" name="confirmedPassword" ng-model="account.confirmedPassword" required>
                    <div ng-messages="formLogin.password.$error"  ng-show="errors.showErrors" role="alert">
                        <div ng-message="required"  style="color:maroon">Please confirm a password</div>
                        <div ng-show="!errors.passValidated" style="color:maroon">Password does not match the confirm password</div>
                    </div>
                </div>
            </div>
            <!--E-mail -->
            <div class="form-group">
                <label class="col-sm-4 control-label">E-mail:<span style="color:red">*</span></label>
                <div class="col-sm-8">
                    <input class="form-control" type="email" name="email" ng-model="account.email" required>
                    <div ng-messages="formLogin.email.$error" ng-show="formLogin.email.$touched || errors.showErrors" style="color:maroon" role="alert">
                        <div ng-message="required">Please enter a email</div>
                        <div ng-message="email" style="color:maroon">Please enter a valid email</div>
                        <div ng-show="!errors.isEmailUnique" style="color:maroon">Account for that email already exist</div>
                    </div>
                </div>
            </div>
            <!--Birthday date -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Birthday:</label>
                <div class="col-sm-8">
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="dd-MMMM-yyyy" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="validatePassword(); errors.showErrors=true">Register</button>
        <button class="btn pull-left"   type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>