<form name="searchForm" class="uploadForm" ng-submit="validateForm(searchForm)" novalidate>
    <div class="form-group upload-element" style="padding-right: 1076px">
        <label for="search">Search query: </label>
        <input id="search" type="text" class="form-control small"  name="searchQuery" ng-model="attributes.query" required  ng-minlength="1" ng-maxlength="15" placeholder="Enter search query..."/>
        <div ng-messages="searchForm.searchQuery.$error" ng-show="searchForm.searchQuery.$touched || errors.showErrors" style="color:maroon" role="alert">
            <div ng-message="required"  >Please enter a search query</div>
            <div ng-message="maxlength" >Given query is too long</div>
            <div ng-show="!errors.validQuery" style="color:maroon">Do not enter query that contains only * character</div>
        </div>
    </div>
    <div class="form-group upload-element">
        <label ><input type="checkbox" ng-model="attributes.statistic"> Add statistic</label>
    </div>
    <div class="form-group ">
        <button type="submit" class="btn btn-md btn-success">Download</button>
    </div>
</form>