<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Notation Web Service</title>
    <!-- Bootstrap and angular.js libraries -->
    <link rel="stylesheet" href="app/resources/css/bootstrap.css"> </link>
    <link rel="stylesheet" href="app/resources/css/main.css"> </link>
    <script src="app/resources/js/libs/angular.min.js"></script>
    <script src="app/resources/js/libs/angular-messages.js"></script>
    <script src="app/resources/js/libs/ui-bootstrap-tpls-2.0.0.min.js"></script>
    <script src="app/resources/js/libs/angular-ui-router.js"></script>

    <!-- AngularJs Services and Components -->
    <script src="app/app.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/resources/js/services/services.js"></script>
    <script src="app/components/registrationModal/RegistrationCtrl.js"></script>
    <script src="app/components/download/DownloadCtrl.js"></script>
    <script src="app/components/settings/SettingsCtrl.js"></script>
    <script src="app/components/upload/UploadCtrl.js"></script>
    <script src="app/components/passwordRecovery/PasswordRecoveryCtrl.js"></script>

</head>

<body ng-class="{'my-Body': !isLogged, 'my-Body-Logged': isLogged}" ng-controller="HomePageController">
<!-- Navibar for site's functionality -->
<nav class="navbar navbar-inverse" role="navigation" style="padding-left: -20px">
    <ul class="nav navbar-nav" ng-show="true">
        <li ng-class="{active: isActive('/upload')}"><a   ui-sref="upload">Upload Notations</a></li>
        <li ng-class="{active: isActive('/download')}"><a ui-sref="download">Download Notations</a></li>
        <li ng-class="{active: isActive('/settings')}"><a ui-sref="settings">Settings</a></li>
        <li ng-class="{active: isActive('/logout')}"><a   ui-sref="settings">Logout</a></li>
    </ul>
</nav>
<!-- Alert modal -->
<div uib-alert   ng-if="$root.showAlert" ng-class="$root.type" style="margin-right:400px; margin-left:400px;" dismiss-on-timeout="5000" close="closeAlert()">{{$root.alertMsg}}</div>
<!--Single Page Application Routes -->
<div ui-view></div>
<!-- Main Logging page body -->
<div  ng-show="!isLogged">
    <h1 class="text-center header"  >{{title}}</h1>
<div class="login form-control" >
        <div class="col-sm-12 input-group">
            <a class="input-group-addon" href="#"><span class="glyphicon glyphicon-user"></span></a>
            <input class="form-control" placeholder="Login" ng-model="account.login">
        </div>
    <p></p>
    <div class="col-sm-12 input-group">
        <a class="input-group-addon" href="#"><span class="glyphicon glyphicon-lock"></span></a>
        <input class="form-control" placeholder="Password" ng-model="account.password">
    </div>
    <div class="row" >
         <h6 class="pull-right" style="padding-right: 15px; color:white" ng-click="forgotDetails()"><u>Forgot your password?</u></h6>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn form-control" ng-click="signUp()">SIGN UP</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-success form-control" ng-click="signIn()">SIGN IN  </button>
        </div>
    </div>
</div>
</div>

</body>
</html>